html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Open-Sans, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: relative;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #040d0f6b;
    color: #ffffff;
    text-align: center;
    position: absolute;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(15, 15, 15, 0.8);
    padding: 0rem;
}

.active {
  background-color: #717171;
}


.highlights {
    padding: 2rem;
    text-align: center;
}

.btn {
    background: #e8491d;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
@media (max-width: 600px) {
  header nav ul {
    flex-direction: column;
    align-items: center;
  }
}